@(Persons: Seq[PersonData], form: Form[PersonData])

@main("Search") {

    <h1>Search Person</h1>

    @* Flash shows updates to a page *@
    @flash.asScala.map{ case (name, value) =>
    <div class="@name">@value</div>
    }

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(routes.PersonController.createPerson) {
        @helper.CSRF.formField

        @helper.inputText(form("first_name"))

        @helper.inputText(form("last_name"))

        <button type="submit">Search

        </button>
    }

}
